* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Giuconda;
  src: url("Assets/Fonts/GiucondaBold.ttf");
}
@font-face {
  font-family: Pepi;
  src: url("Assets/Fonts/pepi-bold-demo.otf");
}
@font-face {
  font-family: GiucondaLight;
  src: url("Assets/Fonts/GiucondaLight.ttf");
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: Giuconda, sans-serif;
}

:root {
  --orange: #e65d02;
  --bgcolor: #faf2eb;
  --light-black: #5c5b58;
  --astro-black: #1f1e1e;
  --semi-black: #414141;
  --border-color: #e0e0e0;
  --footer-color:#f9f3ee;
}

main {
  width: 100%;
  /* height: 100%; */

  background-color: var(--bgcolor);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-bottom: 20px;
}
header {
  width: 100%;
  /* height: 20%; */
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 40px; */
  padding: 10px 90px;
  border-bottom: 1px solid var(--border-color);
}

.head-left {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo {
  font-family: Pepi, sans-serif;
  font-size: 20px;
}
.logo span {
  color: var(--orange);
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav a {
  text-decoration: none;
  color: var(--light-black);
  font-size: 17px;
  padding: 8px;
  transition: all 0.3s ease;
}
header nav a:hover {
  color: var(--orange);
}

.head-right {
  /* margin-left: px; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.head-right i {
  font-size: 17px;
  color: var(--semi-black);
}
.head-right i:hover {
  cursor: pointer;
  color: var(--orange);
}

.content {
  /* border: 1px solid red; */

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 5px;
  padding-left: 10px;
  width: 30%;
}
.new {
  font-size: 20px;
  font-weight: 100;
  color: var(--orange);
}
.astroWinter {
  font-size: 50px;
  font-weight: 900;
  line-height: 40px;
}
.astroWinter span {
  color: var(--orange);
}

.price {
  font-size: 30px;
  font-weight: 500;
}
.content-left h1 {
  font-size: 20px;
  font-weight: 100;
  padding-top: 10px;
  color: var(--astro-black);
  border-top: 1px solid var(--border-color);
}

.description {
  font-weight: 400;
  font-size: 14px;
  font-family: GiocondaLight, sans-serif;
  color: var(--light-black);
}

.readMore,
.material,
.shopping {
  /* width: 50px; */
  /* padding: 10px 20px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.readMore {
  gap: 5px;
  padding: 10px 20px 10px 0px;
  font-size: 18px;
  color: var(--astro-black);
}
.readMore i {
  font-size: 25px;
  color: var(--orange);
}
.material,
.shopping {
  width: 250px;
  /* gap: 10px; */
  padding: 10px 20px 10px 0px;
  font-size: 20px;
  border-top: 1px solid var(--border-color);
  /* border: 2px solid red; */
}
.material i,
.shopping i {
  font-size: 25px;
}
/* .content img{

} */

.content-right {
  width: 30%;
  /* border: 1px solid red; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: 10px; */
}

.size {
  text-align: center;
  /* justify-content: space-around; */
  font-size: 20px;
  font-weight: 500;
}
.sizes {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  /* border:1px solid green; */
}
.sizes p {
  padding: 10px 16px;
  background-color: #efe8e1;
  text-align: center;
  border-radius: 15px;
  border: 1px solid var(--border-color);
  transition: all 0.1s ease;
}
.sizes p:hover {
  cursor: pointer;
  background-color: var(--orange);
  color: white;
}
.sizes #activeSize {
  background-color: var(--orange);
  color: white;
}
.sizeGuide {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  padding-bottom: 10px;
}
.sizeGuideText {
  font-size: 15px;
}
.sizeGuide i {
  font-size: 20px;
  color: var(--orange);
}
.color {
  font-size: 20px;

  width: 60%;
  /* border: 1px solid blueviolet; */
  text-align: center;
  border-top: 1px solid var(--border-color);
  padding-top: 20px;
}
.parentColor {
  /* border: 1px solid cornflowerblue; */
  display: grid;
  /* Yeh line 2 barabar columns banayegi */
  grid-template-columns: repeat(2, 1fr);

  /* Cards ke beech ka gap set karein */
  gap: 10px;

  /* Pure container ki padding */
  padding: 10px;
  max-width: 200px; /* Aapki zaroorat ke hisaab se */
  margin: 0 auto;
}
.colorCard {
  text-align: center; /* Text ko center karne ke liye */
  font-family: sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--light-black);
}

.colorCard img {
  border: 1px solid transparent;
  width: 100%; /* Image ko card ke size ka rakhne ke liye */
  aspect-ratio: 1 / 1;
  border-radius: 15px; /* Rounded corners ke liye */
  object-fit: cover;
  background-color: #dad8d8;
  /* display: block; */
  /* margin-bottom: 10px; */
}
#activeCard{
    border: 1px solid var(--orange);
}
.colorCard img:hover{
    border: 1px solid var(--orange);
}

.wishlist{
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;

    padding: 10px 30px;
    border-radius: 20px;
    border: 1px solid #cccccc;
    color: #353535;
    font-size: 13px;
    font-weight: 400;
}
.bag{
    width: 180px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    
    padding: 14px 30px;
    border-radius: 30px;
    /* border: 1px solid #cccccc; */
    color: #ffff;
    background-color: var(--orange);
    font-weight: 400;
    
}

.featureBox{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
}
.featureBox .feature{
    display: flex;
    align-items: center;
    gap: 5px;
    width: 15%;
    color: #a8a8a8;
}
.feature i{
    font-size: 30px;
}

.footer1{
    width: 95%;
    border-radius: 20px;
    background-color: var(--footer-color);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 25px;
    border: 1px solid #ebebeb;
    
  }
.specificText{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    
}
.specificText h3{
  color: var(--semi-black);
  font-size: 18px;
  font-weight: 400;
}

.specificText p{
  color: var(--light-black);
  font-size: 15px;
  font-weight: 100;
}


.footer1 img{
    height: 100px;
    border-radius: 5px;
  }
  
.footer2{

  width: 95%;
  border-radius: 20px;
  background-color: var(--footer-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 10px; */
  padding: 20px 25px;
  border: 1px solid #ebebeb;
  /* margin-bottom: 10px; */
}
.footer2Text{

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer2Text h4{

  color: var(--semi-black);
  font-size: 18px;
  font-weight: 400;
}

.footer2Text p{
  
  color: var(--light-black);
  font-size: 15px;
  font-weight: 100;
}
.footer2 i{
  
  font-size: 50px;
  border-radius: 5px;
}